{% extends "base.html" %}

{% block content %}

    <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="{{ form.username.auto_id }}" class="sr-only">{{ form.username.label_tag }}</label>
        <input id="{{ form.username.auto_id }}" name="{{ form.username.html_name }}" class="form-control" required autofocus value="{{form.field.value|default_if_none:''}}" placeholder="{{ form.username.html_name }}">
        <label for="{{ form.password.auto_id }}" class="sr-only">Password</label>
        <input type="password" name="{{ form.password.html_name }}" id="{{ form.password.auto_id }}" class="form-control" placeholder="{{ form.password.html_name }}" required>
        <input type="hidden" name="next" value="{{ next }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
    <a href="{% url 'password_reset' %}">Lost password?</a>
      </form>
    {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


{% endblock %}