.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* for json pretty print */
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }