<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tidemark LUNA</title>
</head>
<body>
<header>
    {% load staticfiles %}
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'media/css/common.css' %}">
    {% block extracss %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    {% block extrascript %}
    {% endblock %}

    {% block extraheader %}
    {% endblock %}

</header>


<nav class="navbar navbar-default">
    <div class="container container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="{% url 'home_view' %}">LUNA</a>

            <ul class="nav navbar-nav">
             {% if user.is_authenticated %}
{#              <li class="active"><a href="/">Home</a></li>#}
                 <li>
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                 </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fun Stuff<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Cluster Management</li>
                  <li><a href="{% url 'cluster_creation_view' %}">Launch Cluster</a></li>
                  <li><a href="{% url 'cluster_list_view' %}">List Clusters</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Log Viewer</li>
                  <li><a href="#">Log Viewer</a></li>
            {% endif %}
                </ul>
              </li>
            </ul>

        </div>





        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ user }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/accounts/password_change">Change Password</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/accounts/logout?next=/accounts/post_logout">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/accounts/login">Login</a></li>
                {% endif %}


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div class="container fluid-container">

    {% block content %}

        Base content

    {% endblock %}

</div>
</body>
</html>