{% extends 'base.html' %}

{% load staticfiles%}
{% block extrascript %}
    <script src="{% static 'media/js/clustermanagemet.js' %}"></script>
{% endblock %}

{% block content %}
    <div ng-app="clusterManagementApp">
        <div ng-controller="ClusterCreationCtrl">
            <h1>Cluster Creation: {$ cluster_name $}</h1>

            <div class="panel panel-default">
              <div class="panel-heading">New Cluster</div>
              <div class="panel-body">
                <form>
                    <div  class="input-group">
                      <span  class="input-group-addon" id="cluster_name">Name</span>
                      <input ng-model="cluster_name" type="text" class="form-control" placeholder="Cluster name" aria-describedby="cluster_name">
                    </div>
                    <label class="help-block text-danger" ng-class="{'hide': !input_errors.name}" for="cluster_name">{$ input_errors.name[0] $}</label>


                    <div class="input-group">
                      <span class="input-group-addon" id="cluster_version">Version</span>
                          <select ng-model="tm_version" class="form-control" aria-describedby="cluster_version">
                                <option ng-repeat="tm_version in tm_versions | orderBy: '-name'"  value="{$ tm_version.id $}">{$ tm_version.name $}</option>
                           </select>
                    </div>
                    <label class="help-block text-danger" ng-class="{'hide': !input_errors.tm_version_id}" for="tm_version">{$ input_errors.tm_version_id[0] $}</label>

                    <div class="input-group">
                      <span class="input-group-addon" id="cluster_subnet">Subnet</span>
                          <select ng-model="subnet" class="form-control" aria-describedby="cluster_subnet">
                                <option ng-repeat="subnet in subnets"  value="{$ subnet.id $}">{$ subnet.vanity_name $} ({$ subnet.cidr $}) </option>
                           </select>
                    </div>
                    <label class="help-block text-danger" ng-class="{'hide': !input_errors.subnet_id}" for="cluster_name">{$ input_errors.subnet_id[0] $}</label>


                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading">Nodes</div>
                      <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="new_instance_profile">Node Profile</span>
                            <select ng-model="new_node_profile" class="form-control" aria-describedby="new_instance_profile">
                                <option ng-repeat="node_profile in node_profiles"  value="{$ node_profile.id $}">{$node_profile.name$}</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="new_instance_size">Node Size</span>
                            <select ng-model="new_instance_size" class="form-control" aria-describedby="new_instance_size">
                                <option ng-repeat="instance_size in instance_sizes"  value="{$instance_size.id $}">{$instance_size.name$}</option>
                            </select>
                        </div>

                           <button ng-click="addInstance(new_instance_size,new_node_profile)" type="button" class="btn btn-default">Add node to the cluster </button>
                      </div>

                      <table class="table">
                          <thead>
                              <tr>
                                <th>Profile</th>
                                <th>Size</th>
                              </tr>
                          </thead>
                            <tr ng-repeat="node in new_nodes">
                                <td>
                                   <button ng-click="removeInstance($index)" type="button" class="btn btn-default" aria-label="Left Align">
                                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                    {$ node.node_profile.name $}
                                </td>
                                <td>
                                    {$ node.instance_size.name $}
                                </td>
                            </tr>
                      </table>
                    </div>
                        <button ng-class="{'disabled': submit_disabled}"  ng-disabled="{$ submit_disabled $} " aria-label="Left Align" type="button" class="btn btn-default" ng-click="createCluster()" type="button" >
                          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Create the {$ cluster_name $} Cluster ( {$ new_nodes.length $} nodes )
                    </button>
                </form>
              </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Results</div>
                <div class="panel-body">
                    <table class="table">
                          <thead>
                              <tr>
                                <th>date</th>
                                <th>status</th>
                                <th>headers</th>
                                <th>data</th>
                              </tr>
                          </thead>
                            <tr ng-repeat="result in cluster_creation_results">
                                 <td>
                                    {$ result.date $}
                                </td>
                                <td>
                                    {$ result.status $}
                                </td>
                                <td>
                                    <pre ng-bind-html="result.html_headers | to_trusted">

                                    </pre>
                                </td>
                                <td >

                                    <pre ng-bind-html="result.html_data | to_trusted">

                                    </pre>
                                </td>
                            </tr>
                      </table>
                </div>

            </div>

        </div>
    </div>
{% endblock %}