{% extends 'base.html' %}

{% load staticfiles%}
{% block extrascript %}
    <script src="{% static 'media/js/cluster_list.js' %}"></script>
    <link rel="stylesheet" href="{% static 'media/css/simple-sidebar.css' %}">
{% endblock %}

{% block content %}
    <div ng-app="clusterListApp">
        <div ng-controller="ClusterListCtrl">

            <div id="wrapper">

            <!-- Sidebar -->
                    <div id="sidebar-wrapper">

                        <ul class="sidebar-nav">
                            <li class="sidebar-brand">
                                <a href="#">
                                    Select a Cluster
                                </a>
                            </li>

                            <li>
                                <input ng-model="list_filter">
                            </li>
                            <li ng-repeat="cluster in cluster_list | filter:list_filter">
                                <a href="#" ng-click="selectCluster(cluster.id)">{$ cluster.name $}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /#sidebar-wrapper -->

                    <!-- Page Content -->
                    <div id="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h1>{$ current_cluster.name $}</h1>
                                    <h3>{$ current_cluster.cluster_uuid $}</h3>
                                    <p>{$ current_cluster.tm_version $}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /#page-content-wrapper -->

                </div>
                <!-- /#wrapper -->

        </div>
    </div>
{% endblock %}